## Company Github URL
GITHUB_API_URL=https://git.company.com/api/v3

## For a specific org, the metrics will be for all repos
ORG=seceng-devsecops-platform

## Supporting only for a specific repo
#REPO="Repository Slug (owner/repo format)"

## The GHAS features to fetch
FEATURES="dependabot, code-scanning, secret-scanning"

## The setting for the metrics calculation
FREQUENCY="weekly"

## The kind of reports to output
OUTPUT_FORMAT="json, pdf"

## The Github workspace where it will be executed
GITHUB_WORKSPACE="./"

## The token used. Note that 
## APP: When running in an onboarded GHAS app (dev or prd)
## Profile -> Development -> Tokens: Generate fine grained with alerts from the features above
GITHUB_TOKEN="token (PAT or APP)"

## Whether to run as action outside act
GITHUB_ACTION="true"
RUN_USING_ACT="true"
